doctype html
html
    head
        title= title 
        link(rel="stylesheet", href="/css/style.css")
    body 
    .p 
        h1 Pizza Shop 
        img(src="/images/img2.jpg", alt="img")

        h2 Grand Opening<br>
            p All are flat 

            .q 
                img(src="/images/img1.jpg", alt="img")

                address 26, Kuppumuthu St, Triplicane, Chennai-600005 Phone number:04428589722S